<div class="container">
  <div class="row my-5">
    <h3 class="offset-1 bg-light">商品一覧</h3>
  </div>
  <div class="row">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>

      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.last_name + customer.first_name,admin_customer_path(customer) %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_deleted == false %>
              <span class="label label-primary">
                有効
              </span>
              <% else %>
              <span class="label label-danger">
                退会
              </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>