<div class="container">
  <div class="row my-3">
    <div class="mx-auto display-2">
      About
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      ながのCAKEは全国発送可能なケーキ屋さんです。
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      お子様からお年寄りまでの方までお召し上がりいただけるよう、
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      さまざまなバリエーションをご用意しております。
    </div>
  </div>
   <div class="row">
    <div class="mx-auto">
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      ぜひご注文ください。
    </div>
  </div>
  <div class="row my-5">
    <%= image_tag 'topimage.jpeg', :size =>'480x200', class: "mx-auto"%>
  </div>
</div>