<div class="container">
  <div class="row my-5">
    <h3 class="offset-1 bg-light">商品一覧</h3>
  </div>
  <div class="row">
    <% @items.each do |item|%>
    <table class="col-3 center" align="left">
      <tbody>
        <tr>
          <td>
            <%= link_to public_item_path(item.id) do %>
              <%= image_tag item.image, :size =>"180x180" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <%= item.name%>
          </td>
        </tr>
        <tr>
          <td>
            <%= (item.price).floor.to_s(:delimited, delimiter: ",") %>円
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>